
#h{
    display: block;
    background: #0b9496;
    font-size: 48px;
    padding: 11px;
    width: 299px;
    text-align: center;
    /* margin-left: 342px; */
    margin-left: auto;
    margin-right: auto;
    color: #e9eded;
    line-height: 0.92857143;
    cursor: pointer;
    margin-top: 60px;
    height: 80px;
    border-radius: 30px;

    font-family: '"Helvetica Neue", Helvetica, Arial, sans-serif';
    text-align: center;

}

#banner{
    display: flex;
     justify-content:space-around;
overflow: hidden;
}


.footer{
    color: grey;
    font-size: 18px;
    font-family: 'cocon_next_arabicregular';
    text-align: center;
    height: 100%;
   
}

a {
    color: grey;
  }
  a:hover {
    color: grey;
  }
  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }


  * {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
  }
  
  .column {
    flex: 48.33%;
    padding: 5px;
  }

